<br>
<button mat-raised-button color="primary" id="ManualButton" (click)="toggleManual()">Load Data Manually</button>
<button mat-raised-button color="primary" id="AutoButton" (click)="toggleAuto()">Load Data From Online</button>
<div *ngIf="loadManualFlag">
    <br>
    <button mat-raised-button color="secondary" id="IncomeStatement" (click)="toggleIncomeStatement()">Income Statement</button>
    <button mat-raised-button color="secondary" id="BalanceSheet" (click)="toggleBalanceSheet()">Balance Sheet</button>
    <div *ngIf="incomeStatementFlag">
        <br>
        <button mat-raised-button color="secondary" id="AddYearButton" (click)="addYearToggle()">{{addYearFlag ? 'Hide Add Year' : 'Add Year'}}</button>
        <button mat-raised-button color="secondary" id="RemoveYearButton" (click)="removeYearToggle()">{{removeYearFlag ? 'Hide Remove Year' : 'Remove Year'}}</button>
        <form class="example-form" *ngIf="addYearFlag">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Year to Add" [(ngModel)]="newYearName" name="newYear">
            </mat-form-field>
            <button mat-raised-button color="secondary" id="AddYearButtonCommit" (click)="addYearCommit()">Commit Add Year</button>
        </form>
        <form class="example-form" *ngIf="removeYearFlag">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Year to Remove" value="" [(ngModel)]="removeYearName" name="removeYear">
            </mat-form-field>
            <button mat-raised-button color="secondary" id="RemoveYearButtonCommit" (click)="removeYearCommit()">Commit Remove Year</button>
        </form>
        <div>
            <h3>Revenue</h3>
            <tree-grid [inputColumns]="headerYears" [categories]="loadCategories" [sumRows]="rowTotals"></tree-grid>
            <!--excel-grid [passedColHeaders]="columnHeaders" [passedData]="gridDataRevenue" [passedNumberOfColumns]="numberOfColumns"></excel-grid-->
            <div>
                <label>Total Revenue:</label>
                <div id="Totals" *ngFor="let rowTotal of rowTotals">
                    <label>{{rowTotal}}</label>
                </div>
            </div>
            
        </div>
        <br>
        <div>
            <h3>Cost of Goods Sold</h3>
            <!--excel-grid [passedColHeaders]="columnHeaders" [passedData]="gridDataCogs" [passedNumberOfColumns]="numberOfColumns"></excel-grid!-->
            <label>Total CoGs:</label>
        </div>
        <br>
        <div>
            <h3>Expenses</h3>
            <!--excel-grid [passedColHeaders]="columnHeaders" [passedData]="gridDataExpenses" [passedNumberOfColumns]="numberOfColumns"></excel-grid-->
            <label>Total Exenses:</label>
        </div>
    </div>
</div>
<div *ngIf="loadAutoFlag">
    Auto Load Area
</div>