<form #treeGridForm="ngForm">
    <h3 *ngFor="let header of inputColumns"></h3>
    <div *ngIf="categories">
        <div id="yearLabel" *ngFor="let header of inputColumns">
            <label>{{header}}</label>
        </div>
        <br>
        <br>
        <br>
        <div *ngFor="let category of categories; let indexCategory = index; trackBy:trackByIndex">
            <mat-form-field id="inputFormClass" *ngFor="let detail of category.details;let indexDetail = index; trackBy:trackByIndex">
                <input id="inputClass" matInput name="detail--{{indexCategory}}--{{indexDetail}}" [(ngModel)]="categories[indexCategory].details[indexDetail]" value="{{categories[indexCategory].details[indexDetail]}}">
            </mat-form-field>
            <br>
            <label>{{category.name}}</label>
            <br>
            <br>
            <br>
            VALUES: {{category.details}}
        </div>
    </div>
</form>
