#inputClass {
    text-align: right;
    width: 200px;
}

#inputFormClass {
    float: right;
    /* width: 80%; */

}

#yearLabel {
    float: right;
    width: 200px;
    text-align: center;
    font-weight:bold;
    font-size: x-large;
}